In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
from IPython.display import Image
import time

from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

import geckodriver_autoinstaller

### Iterating between PUNK_ID web segments and tracking evey purchase transaction. First 1000 punk_id

In [9]:
total_punks = (5000,5001)
amount_eth = []
amount_dollars = []
transaction_date= []
punk_id = []


for j in range(5000,6001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id.append(j)
            items = row.text.split(' ')
            amount_eth.append(items[3])
            amount_dollars.append(items[4])
            transaction_date.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

In [11]:
len(amount_dollars)

1544

### Creating DF

In [13]:
df1 = pd.DataFrame({'id':punk_id,'amount_ethereum':amount_eth, 'amount_dollars': amount_dollars, 'transaction_date':transaction_date})

In [14]:
df1

        id amount_ethereum amount_dollars transaction_date
0     5000           0.30Ξ          ($67)     Aug 03, 2017
1     5001           1.20Ξ         ($247)     Jul 29, 2017
2     5002            205Ξ     ($382,579)     Jul 17, 2021
3     5002             49Ξ      ($11,542)     Jun 01, 2020
4     5002           0.26Ξ          ($88)     Oct 13, 2017
...    ...             ...            ...              ...
1539  5997          14.50Ξ      ($57,103)     May 13, 2021
1540  5999          14.50Ξ      ($36,535)     Jun 16, 2021
1541  5999           3.50Ξ       ($1,252)     Sep 28, 2020
1542  5999           2.30Ξ         ($796)     Sep 24, 2020
1543  6000             19Ξ      ($33,581)     Mar 29, 2021

[1544 rows x 4 columns]

In [15]:
df1.to_csv('df5000-6001.csv')

### Iteration n°2

In [16]:
#total_punks = (5000,5001)
amount_eth2 = []
amount_dollars2 = []
transaction_date2 = []
punk_id2 = []


for j in range(6000,7001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id2.append(j)
            items = row.text.split(' ')
            amount_eth2.append(items[3])
            amount_dollars2.append(items[4])
            transaction_date2.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

In [17]:
df2 = pd.DataFrame({'id':punk_id2,'amount_ethereum':amount_eth2, 'amount_dollars': amount_dollars2, 'transaction_date':transaction_date2})

In [18]:
df2.to_csv('df6000-7001.csv')

### Iteration n° 3

In [19]:
#total_punks = (5000,5001)
amount_eth3 = []
amount_dollars3 = []
transaction_date3 = []
punk_id3 = []


for j in range(7000,8001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id3.append(j)
            items = row.text.split(' ')
            amount_eth3.append(items[3])
            amount_dollars3.append(items[4])
            transaction_date3.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

In [20]:
df3 = pd.DataFrame({'id':punk_id3,'amount_ethereum':amount_eth3, 'amount_dollars': amount_dollars3, 'transaction_date':transaction_date3})

In [21]:
df3.to_csv('df7000-8001.csv')

### Iteration n° 4

In [22]:
#total_punks = (5000,5001)
amount_eth4 = []
amount_dollars4 = []
transaction_date4 = []
punk_id4 = []


for j in range(8000,9001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id4.append(j)
            items = row.text.split(' ')
            amount_eth4.append(items[3])
            amount_dollars4.append(items[4])
            transaction_date4.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

In [23]:
df4 = pd.DataFrame({'id':punk_id4,'amount_ethereum':amount_eth4, 'amount_dollars': amount_dollars4, 'transaction_date':transaction_date4})

In [24]:
df4.to_csv('df8000-9001.csv')

In [25]:
punk_id4

[8000,
 8001,
 8001,
 8001,
 8002,
 8004,
 8004,
 8006,
 8006,
 8009,
 8009,
 8010,
 8010,
 8011,
 8011,
 8011,
 8012,
 8012,
 8012,
 8013,
 8014,
 8015,
 8015,
 8015,
 8015,
 8018,
 8018,
 8019,
 8020,
 8020,
 8020,
 8020,
 8021,
 8021,
 8021,
 8022,
 8027,
 8028,
 8028,
 8028,
 8029,
 8029,
 8029,
 8029,
 8029,
 8029,
 8031,
 8031,
 8031,
 8031,
 8031,
 8032,
 8033,
 8033,
 8033,
 8033,
 8033,
 8035,
 8035,
 8035,
 8035,
 8036,
 8036,
 8037,
 8038,
 8038,
 8040,
 8043,
 8045,
 8045,
 8046,
 8046,
 8046,
 8046,
 8048,
 8048,
 8048,
 8049,
 8049,
 8049,
 8049,
 8049,
 8049,
 8049,
 8050,
 8050,
 8050,
 8051,
 8051,
 8051,
 8051,
 8051,
 8051,
 8052,
 8053,
 8053,
 8054,
 8054,
 8054,
 8057,
 8057,
 8058,
 8059,
 8059,
 8060,
 8061,
 8061,
 8061,
 8061,
 8061,
 8061,
 8062,
 8062,
 8062,
 8062,
 8064,
 8065,
 8066,
 8067,
 8067,
 8067,
 8067,
 8067,
 8069,
 8069,
 8069,
 8070,
 8071,
 8071,
 8072,
 8075,
 8075,
 8075,
 8078,
 8080,
 8081,
 8081,
 8082,
 8082,
 8082,
 8082,
 8085,
 8087,
 8087,
 8087,
 8089,
 8089,
 8091,
 8091,
 8091,
 8091,
 8091,
 8091,
 8092,
 8092,
 8093,
 8095,
 8095,
 8095,
 8095,
 8095,
 8095,
 8098,
 8098,
 8099,
 8100,
 8100,
 8101,
 8103,
 8103,
 8104,
 8105,
 8107,
 8107,
 8108,
 8108,
 8108,
 8108,
 8108,
 8109,
 8109,
 8113,
 8113,
 8116,
 8116,
 8122,
 8122,
 8123,
 8124,
 8124,
 8124,
 8124,
 8124,
 8125,
 8125,
 8130,
 8130,
 8130,
 8132,
 8132,
 8132,
 8132,
 8133,
 8134,
 8134,
 8135,
 8139,
 8139,
 8140,
 8140,
 8142,
 8143,
 8143,
 8143,
 8143,
 8143,
 8144,
 8144,
 8144,
 8146,
 8146,
 8146,
 8146,
 8148,
 8149,
 8149,
 8150,
 8151,
 8152,
 8153,
 8154,
 8157,
 8157,
 8158,
 8158,
 8158,
 8158,
 8158,
 8158,
 8158,
 8158,
 8163,
 8163,
 8164,
 8164,
 8164,
 8164,
 8164,
 8164,
 8166,
 8166,
 8168,
 8171,
 8171,
 8171,
 8171,
 8172,
 8172,
 8173,
 8175,
 8175,
 8175,
 8176,
 8177,
 8177,
 8177,
 8177,
 8177,
 8178,
 8178,
 8178,
 8180,
 8183,
 8183,
 8185,
 8185,
 8185,
 8187,
 8187,
 8187,
 8188,
 8188,
 8188,
 8188,
 8188,
 8188,
 8189,
 8189,
 8190,
 8190,
 8190,
 8190,
 8190,
 8191,
 8191,
 8195,
 8195,
 8195,
 8195,
 8196,
 8196,
 8196,
 8197,
 8198,
 8198,
 8205,
 8208,
 8208,
 8209,
 8209,
 8209,
 8210,
 8211,
 8212,
 8212,
 8212,
 8212,
 8213,
 8213,
 8213,
 8213,
 8214,
 8215,
 8215,
 8215,
 8215,
 8216,
 8216,
 8219,
 8220,
 8220,
 8220,
 8221,
 8224,
 8224,
 8224,
 8226,
 8226,
 8226,
 8226,
 8226,
 8226,
 8227,
 8227,
 8227,
 8229,
 8230,
 8231,
 8233,
 8233,
 8234,
 8237,
 8237,
 8237,
 8237,
 8237,
 8237,
 8238,
 8238,
 8238,
 8239,
 8241,
 8242,
 8242,
 8242,
 8242,
 8242,
 8242,
 8243,
 8244,
 8244,
 8246,
 8246,
 8247,
 8247,
 8249,
 8249,
 8249,
 8250,
 8251,
 8252,
 8253,
 8253,
 8253,
 8254,
 8255,
 8256,
 8260,
 8262,
 8262,
 8262,
 8262,
 8262,
 8262,
 8262,
 8263,
 8264,
 8267,
 8267,
 8268,
 8268,
 8270,
 8271,
 8273,
 8273,
 8273,
 8274,
 8274,
 8274,
 8274,
 8274,
 8274,
 8274,
 8275,
 8275,
 8276,
 8276,
 8278,
 8278,
 8279,
 8279,
 8279,
 8279,
 8280,
 8280,
 8280,
 8280,
 8280,
 8282,
 8282,
 8282,
 8282,
 8282,
 8284,
 8284,
 8284,
 8284,
 8285,
 8285,
 8285,
 8285,
 8285,
 8285,
 8285,
 8287,
 8288,
 8288,
 8288,
 8288,
 8289,
 8291,
 8292,
 8294,
 8294,
 8298,
 8298,
 8298,
 8298,
 8299,
 8299,
 8299,
 8300,
 8300,
 8301,
 8302,
 8302,
 8302,
 8302,
 8302,
 8302,
 8303,
 8303,
 8305,
 8306,
 8307,
 8307,
 8308,
 8309,
 8309,
 8312,
 8312,
 8312,
 8313,
 8313,
 8315,
 8315,
 8315,
 8315,
 8317,
 8320,
 8322,
 8322,
 8322,
 8325,
 8325,
 8325,
 8325,
 8326,
 8326,
 8326,
 8326,
 8327,
 8327,
 8328,
 8330,
 8331,
 8331,
 8331,
 8331,
 8332,
 8334,
 8335,
 8335,
 8335,
 8335,
 8337,
 8339,
 8339,
 8341,
 8341,
 8341,
 8341,
 8341,
 8343,
 8343,
 8343,
 8343,
 8343,
 8343,
 8344,
 8348,
 8348,
 8348,
 8351,
 8351,
 8352,
 8352,
 8356,
 8357,
 8357,
 8357,
 8357,
 8357,
 8357,
 8358,
 8358,
 8358,
 8358,
 8358,
 8363,
 8363,
 8363,
 8363,
 8363,
 8365,
 8365,
 8366,
 8372,
 8372,
 8372,
 8372,
 8375,
 8375,
 8376,
 8376,
 8376,
 8376,
 8378,
 8379,
 8379,
 8379,
 8379,
 8379,
 8380,
 8380,
 8380,
 8380,
 8381,
 8381,
 8383,
 8383,
 8385,
 8385,
 8387,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8389,
 8390,
 8392,
 8393,
 8394,
 8394,
 8394,
 8394,
 8394,
 8394,
 8395,
 8395,
 8395,
 8395,
 8395,
 8395,
 8395,
 8395,
 8396,
 8396,
 8399,
 8401,
 8401,
 8401,
 8401,
 8402,
 8403,
 8405,
 8405,
 8406,
 8407,
 8408,
 8408,
 8408,
 8408,
 8409,
 8409,
 8409,
 8409,
 8409,
 8409,
 8409,
 8411,
 8411,
 8414,
 8414,
 8417,
 8419,
 8419,
 8423,
 8423,
 8423,
 8424,
 8424,
 8425,
 8425,
 8427,
 8427,
 8428,
 8428,
 8428,
 8429,
 8429,
 8429,
 8429,
 8430,
 8431,
 8431,
 8431,
 8432,
 8432,
 8433,
 8433,
 8433,
 8434,
 8435,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8436,
 8440,
 8440,
 8442,
 8444,
 8444,
 8444,
 8444,
 8444,
 8444,
 8444,
 8445,
 8445,
 8446,
 8448,
 8449,
 8449,
 8451,
 8451,
 8451,
 8453,
 8453,
 8454,
 8455,
 8455,
 8456,
 8456,
 8456,
 8456,
 8457,
 8457,
 8457,
 8458,
 8458,
 8459,
 8459,
 8460,
 8463,
 8464,
 8464,
 8464,
 8464,
 8465,
 8468,
 8468,
 8468,
 8469,
 8472,
 8474,
 8474,
 8474,
 8475,
 8475,
 8475,
 8475,
 8475,
 8476,
 8476,
 8476,
 8477,
 8478,
 8479,
 8479,
 8479,
 8481,
 8481,
 8481,
 8481,
 8485,
 8485,
 8485,
 8485,
 8487,
 8488,
 8488,
 8488,
 8488,
 8489,
 8489,
 8490,
 8490,
 8490,
 8490,
 8491,
 8492,
 8492,
 8494,
 8494,
 8494,
 8494,
 8495,
 8495,
 8495,
 8495,
 8495,
 8497,
 8497,
 8498,
 8498,
 8501,
 8501,
 8501,
 8503,
 8504,
 8504,
 8504,
 8504,
 8504,
 8507,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8508,
 8509,
 8509,
 8510,
 8510,
 8511,
 8511,
 8511,
 8511,
 8512,
 8512,
 8512,
 8512,
 8512,
 8512,
 8512,
 8512,
 8512,
 8512,
 8513,
 8513,
 8513,
 8513,
 8514,
 8515,
 8515,
 8515,
 8515,
 8516,
 8516,
 8517,
 8518,
 8518,
 8519,
 8519,
 8519,
 8519,
 8520,
 8521,
 8523,
 8523,
 8524,
 8524,
 8524,
 8526,
 8526,
 8526,
 8526,
 8526,
 8526,
 8526,
 8526,
 8527,
 8528,
 8528,
 8530,
 8530,
 8530,
 8533,
 8534,
 8534,
 8536,
 8536,
 8536,
 8540,
 8540,
 8540,
 8540,
 8540,
 8540,
 8540,
 8542,
 8542,
 8542,
 8543,
 8544,
 8544,
 8546,
 8547,
 8548,
 8548,
 8549,
 8550,
 8552,
 8556,
 8556,
 8559,
 8560,
 8560,
 8562,
 8562,
 8562,
 8562,
 8562,
 8562,
 8562,
 8562,
 8562,
 8564,
 8564,
 8564,
 8565,
 8565,
 8567,
 8569,
 8569,
 8571,
 8571,
 8571,
 8571,
 8573,
 8573,
 8573,
 8573,
 8574,
 8574,
 8575,
 8575,
 8576,
 8576,
 8577,
 8577,
 8577,
 8577,
 8577,
 8582,
 8583,
 8583,
 8583,
 8583,
 8583,
 8584,
 8584,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8586,
 8587,
 8587,
 8591,
 8591,
 8591,
 8591,
 8593,
 8593,
 8593,
 8595,
 8598,
 8600,
 8600,
 8601,
 8601,
 8602,
 8602,
 8602,
 8603,
 8603,
 8604,
 8604,
 8604,
 8604,
 8604,
 8604,
 8605,
 8606,
 8606,
 8607,
 8608,
 8611,
 8611,
 8611,
 8611,
 8612,
 8612,
 8613,
 8613,
 8616,
 8617,
 8617,
 8617,
 8620,
 8620,
 8620,
 8621,
 8622,
 8622,
 8623,
 8630,
 8630,
 8631,
 ...]

In [26]:
df4

        id amount_ethereum amount_dollars transaction_date
0     8000           0.50Ξ         ($112)     Aug 03, 2017
1     8001          39.50Ξ      ($60,178)     Feb 23, 2021
2     8001             32Ξ      ($54,235)     Feb 23, 2021
3     8001           0.49Ξ          ($85)     May 06, 2019
4     8002           0.05Ξ          ($30)     Jun 08, 2018
...    ...             ...            ...              ...
1580  8998           7.49Ξ       ($5,444)     Dec 28, 2020
1581  8998           7.50Ξ       ($2,565)     Oct 07, 2020
1582  8998           0.10Ξ          ($60)     Jun 08, 2018
1583  8999           0.12Ξ          ($90)     May 07, 2018
1584  9000             28Ξ      ($50,453)     Mar 10, 2021

[1585 rows x 4 columns]

### Iteration n° 5

In [27]:
#total_punks = (5000,5001)
amount_eth5 = []
amount_dollars5 = []
transaction_date5 = []
punk_id5 = []


for j in range(9000,10001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id5.append(j)
            items = row.text.split(' ')
            amount_eth5.append(items[3])
            amount_dollars5.append(items[4])
            transaction_date5.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: timeout: Timed out receiving message from renderer: 299.103
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

exepcion Message: no such element: Unable to locate element: {"method":"css selector","selector":"table"}
  (Session info: chrome=91.0.4472.124)

In [28]:
df5 = pd.DataFrame({'id':punk_id5,'amount_ethereum':amount_eth5, 'amount_dollars': amount_dollars5, 'transaction_date':transaction_date5})

In [29]:
df5.to_csv('df9000-10001.csv')

In [ ]:
#total_punks = (3500,5001)
amount_eth5 = []
amount_dollars5 = []
transaction_date5 = []
punk_id5 = []


for j in range(3500,5001):
    try:
        browser = webdriver.Chrome(executable_path=r"C:\Users\tomi_\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe")
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        rows = table.find_elements_by_class_name('punk-history-row-sold')

        for row in rows:
            punk_id5.append(j)
            items = row.text.split(' ')
            amount_eth5.append(items[3])
            amount_dollars5.append(items[4])
            transaction_date5.append(' '.join(items[5:]))

        browser.close()



    except Exception as err:
        print(f'exepcion {err}')

#df = pd.DataFrame({'id':punk_id,'amount':amount,'transaction':transaction_date})

In [ ]:
df3500_5001 = pd.DataFrame({'id':punk_id5,'amount_ethereum':amount_eth5, 'amount_dollars': amount_dollars5, 'transaction_date':transaction_date5})

In [ ]:
df3500_5001.to_csv('df3500-5001.csv')

### Appending datasets in order to get an overall "sales" dataframe

In [32]:
sales_df = df1.append([df2, df3, df4, df5])

In [33]:
sales_df

        id amount_ethereum amount_dollars transaction_date
0     5000           0.30Ξ          ($67)     Aug 03, 2017
1     5001           1.20Ξ         ($247)     Jul 29, 2017
2     5002            205Ξ     ($382,579)     Jul 17, 2021
3     5002             49Ξ      ($11,542)     Jun 01, 2020
4     5002           0.26Ξ          ($88)     Oct 13, 2017
...    ...             ...            ...              ...
1534  9990          24.50Ξ      ($44,981)     Mar 20, 2021
1535  9997          99.99Ξ     ($169,770)     Feb 08, 2021
1536  9997             59Ξ      ($21,062)     Sep 27, 2020
1537  9998             38Ξ      ($61,170)     Mar 03, 2021
1538  9998             15Ξ       ($9,499)     Dec 27, 2020

[7879 rows x 4 columns]

### Exporting CSV

In [ ]:
sales_df